@charset "utf-8";
/* CSS Document */



.PreNxt:hover {
  background-color: aqua;
  color: black;
}

.PreNxt {
  background-color: #373737;
  color: white;
  border-radius: 19px;
  text-decoration: none;
  display: inline-block;
  padding: 8px 16px;
  font-size: 23px;
  margin-bottom: 13px;
}


