/*slideshow*/
.mySlides {display: none}



/* Slideshow container */
.slideshow-container {
  position: relative;
  margin: auto;
  margin-top: 2%;
  min-width: 400px;
  width: fit-content;
  max-width: 900px;
  max-height: 800px;
  border-radius: 19px;
  border: 5px solid black;
}



/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 0;
  height: 100%;
  width: auto;
  padding: 20px;
  margin-top: 0px;
  color: white;
  font-weight: bold;
  text-align: center;
  font-size: 20px;
  border-radius: 10px 0px 0px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 0px 10px 0 0px;
}
/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}
/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}
@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}
@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}
/* Caption text */
.text-caption {
    color: #f2f2f2;
    font-size: 20px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;	
  }
/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
    .prev, .next,.text {font-size: 11px}
  }





/* Container for image text */
.caption-container-curved {
  text-align: center;
  background-color: #222;
  padding: 20px 16px;
  color: white;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;	
}
