.w3-cus-testcolour
{color:#fff!important;background-color:#133c80!important}

.w3-cus-background
{color:#fff!important;background-color:#ec9f6a!important}

.w3-cus-highlight
{color:#fff!important;background-color:#a25d58!important}

/* 2020 colours */
.w3-2020-fired-brick
{color:#fff!important;background-color:#688974!important}
.w3-2020-peach-nougat
{color:#000!important;background-color:#E6AF91!important}

.w3-green,.w3-hover-green:hover{color:#fff!important;background-color:#69bd44!important}